.ARI{
  background-color: #97233F;
  color: #FFB612;
}

.ATL{
  background-color: #A71930;
  color: #000000;
}

.BAL{
  background-color: #241773;
  color: #9E7C0C;
}

.BUF{
  background-color: #00338D;
  color: #C60C30;
}

.CAR{
  background-color: #0085CA;
  color: #101820;
}

.CHI{
  background-color: #0B162A;
  color: #C83803;
}

.CIN{
  background-color: #FB4F14;
  color: #000000;
}

.CLE{
  background-color: #FF3C00;
  color: #311D00;
}

.DAL{
  background-color: #041E42;
  color: #FFFFFF;
}

.DEN{
  background-color: #FB4F14;
  color: #002244;
}

.DET{
  background-color: #0076B6;
  color: #B0B7BC;
}

.GB{
  background-color: #203731;
  color: #FFB612;
}

.HOU{
  background-color: #03202F;
  color: #A71930;
}

.IND{
  background-color: #002C5F;
  color: #FFFFFF;
}

.JAX{
  background-color: #006778;
  color: #9F792C;
}

.KC{
  background-color: #E31837;
  color: #FFFFFF;;
}

.LAC{
  background-color: #0080C6;
  color: #FFC20E;
}

.LAR{
  background-color: #003594;
  color: #FFA300;
}

.LV{
  background-color: #000000;
  color: #A5ACAF;
}

.MIA{
  background-color: #008E97;
  color: #FC4C02;
}

.MIN{
  background-color: #4F2683;
  color: #FFC62F;
}

.NE{
  background-color: #002244;
  color: #C60C30;
}

.NO{
  background-color: #D3BC8D;
  color: #101820;
}

.NYG{
  background-color: #0B2265;
  color: #A71930;
}

.NYJ{
  background-color: #125740;
  color: #FFFFFF;
}

.PHI{
  background-color: #004C54;
  color: #A5ACAF;
}

.PIT{
  background-color: #FFB612;
  color: #101820;
}

.SEA{
  background-color: #002244;
  color: #69BE28;
}

.SF{
  background-color: #AA0000;
  color: #B3995D;
}

.TB{
  background-color: #D50A0A;
  color: #34302B;
}

.TEN{
  background-color: #0C2340;
  color: #4B92DB;
}

.WAS{
  background-color: #5A1414;
  color: #FFB612;
}